<app-home-company-logged></app-home-company-logged>

<!--content change password-->
<div class="container main m-t-lg">
  <div class="row ">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="ibox">
        <div class="ibox-content fadeInRight animated">
          <div class="row loader-wrapper">
            <div class="loadessr blur-loading" *ngIf="loading">
              <div class="loader"></div>
            </div>
            <div class="col-sm-12">
              <div class="row section-form em-log-in">
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="text-center m-t-lg m-b-lg">
                    <h1 class="text-highlight">
                      {{ 'company.changePassword.header' | translate }}
                    </h1>
                  </div>
                  <form
                    [formGroup]="changePassForm"
                    class="contact_us validation-form"
                    (ngSubmit)="submitChangePassword()"
                  >
                    <div
                      class="form-group global-error"
                      [style.display]="hasServerError ? '' : 'none'"
                    >
                      <label></label>
                      <div *ngIf="submitted" class="error-input">
                        <div *ngIf="submitted && changePassForm.errors?.serverError">
                          {{ changePassForm.errors.serverError }}
                        </div>
                      </div>
                    </div>

                    <div class="form-group required">
                      <label>{{ 'company.changePassword.oldPassword' | translate }}</label>
                      <div class="input-container">
                        <input
                          type="password"
                          name="password"
                          id="password"
                          [ngClass]="{
                            'has-error':
                              controls.oldPassword.errors?.minlength ||
                              (submitted && controls.oldPassword.errors)
                          }"
                          formControlName="oldPassword"
                        />
                        <div *ngIf="controls.oldPassword.invalid" class="error-input">
                          <div *ngIf="submitted && controls.oldPassword.errors?.required">
                            {{ 'register.passwordRequired' | translate }}
                          </div>
                          <div *ngIf="controls.oldPassword.errors.minlength">
                            {{ 'register.passwordAtLeast' | translate }}
                            {{ controls.oldPassword.errors?.minlength.requiredLength }}
                            {{ 'register.characters' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group required">
                      <label>{{ 'company.changePassword.newPassword' | translate }}</label>
                      <div class="input-container">
                        <input
                          type="password"
                          name="password"
                          id="password"
                          [ngClass]="{
                            'has-error':
                              controls.password.errors?.minlength ||
                              (submitted && controls.password.errors)
                          }"
                          formControlName="password"
                        />
                        <div *ngIf="controls.password.invalid" class="error-input">
                          <div *ngIf="submitted && controls.password.errors?.required">
                            {{ 'register.passwordRequired' | translate }}
                          </div>
                          <div *ngIf="controls.password.errors.minlength">
                            {{ 'register.passwordAtLeast' | translate }}
                            {{ controls.password.errors?.minlength.requiredLength }}
                            {{ 'register.characters' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group required">
                      <label>{{ 'company.changePassword.confirmNewPassword' | translate }}</label>
                      <div class="input-container">
                        <input
                          type="password"
                          name="cpassword"
                          id="cpassword"
                          [ngClass]="{
                            'has-error':
                              changePassForm.errors?.matchedPassword ||
                              (submitted && controls.repeatPassword.errors)
                          }"
                          formControlName="repeatPassword"
                        />
                        <div *ngIf="changePassForm.invalid" class="error-input">
                          <div *ngIf="changePassForm.errors?.matchedPassword">
                            {{ 'register.notMatchPassword' | translate }}
                          </div>
                          <div *ngIf="submitted && controls.repeatPassword.errors?.required">
                            {{ 'register.passwordRequired' | translate }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label></label>
                      <div class="input-container">
                        <button class="btn btn-green " type="submit">
                          {{ 'company.changePassword.update' | translate }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
